# Secrets
.env
*.key
secrets.py

# Logs and Data
yojanamitra.db
*.log
translation_test_log.txt
*.txt

# Python
__pycache__/
*.pyc
.venv/

# IDE and Workspaces
.vscode/
instance/
dist/
build/
node_modules/

# Backups
static_backup_current/
static/uploads/
test_ai.py
